@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?owew0e');
  src:  url('fonts/icomoon.eot?owew0e#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?owew0e') format('truetype'),
    url('fonts/icomoon.woff?owew0e') format('woff'),
    url('fonts/icomoon.svg?owew0e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook_icon:before {
  content: "\e900";
}
.icon-menu_lines_hamburger_icon:before {
  content: "\e901";
}
.icon-location_icon:before {
  content: "\e902";
}
.icon-telephone_icon:before {
  content: "\e903";
}
.icon-whatsapp_icon:before {
  content: "\e904";
}
.icon-instagram_icon:before {
  content: "\e905";
}
.icon-health_treatment_illustration_hair_beauty_icon:before {
  content: "\e906";
}
.icon-health_treatment_illustration_beauty_haircut_icon:before {
  content: "\e907";
}
.icon-health_treatment_illustration_hair-dryer_beauty_icon:before {
  content: "\e908";
}
.icon-delete_interface_remove_x_x-mark_icon-1:before {
  content: "\e909";
}
.icon-play_video_youtube_youtube-logo_icon:before {
  content: "\e90a";
}
.icon-e_email_letter_mail_icon:before {
  content: "\e90b";
}
.icon-arrow-up:before {
  content: "\e90c";
}
